POS_BASE_URL=https://yourstore.posserviceprovider.com # Replace with your actually POS Platform
POS_USERNAME=pos4africa # Replace with your actually username
POS_PASSWORD=1234567!@42353 # Replace with your actually password

SUPABASE_URL=https://plfilcqufjpjzpmveihh.supabase.co # Replace with your actually supabase project url
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9 # Replace with your actually supabase key